// Centraliza o formulário vertical e horizontalmente
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // Ocupa toda a altura do conteúdo
}

ion-card {
  width: 80%;
  max-width: 400px; // Limita a largura do card para telas maiores
  margin: auto;
}

// Centraliza o botão no meio do card
.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox-label {
  font-size: 0.85rem; // Reduz o tamanho da fonte
  white-space: normal; // Permite quebra de linha
  margin-left: 8px; // Espaço entre o checkbox e o texto
}
