<ion-header *ngIf="!isAlunoCadastrado">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="voltaFormAnterior()">
        <ion-icon color="dark" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="dark">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin-top">
  <form *ngIf="!isAlunoCadastrado" [formGroup]="form" class="form-container">
    <ion-card *ngIf="exibeCards[0]">
      <ion-card-header color="danger">
        <ion-text color="dark">
          <h3><b>Informações para contato:</b></h3>
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label color="medium" position="floating"
            >Qual o seu nome?</ion-label
          >
          <ion-input formControlName="nome" type="text"></ion-input>
        </ion-item>
        <div
          *ngIf="form.get('nome')?.hasError('pattern') && form.get('nome')?.touched"
          class="erro"
        >
          <ion-text color="danger">Nome inválido</ion-text>
        </div>

        <ion-item>
          <ion-label color="medium" position="floating"
            >Insira seu Email:</ion-label
          >
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <div
          *ngIf="form.get('email')?.hasError('pattern') && form.get('email')?.touched"
          class="erro"
        >
          <ion-text color="danger">Email inválido.</ion-text>
        </div>

        <ion-item>
          <ion-label color="medium" position="floating"
            >Insira seu Telefone para contato:</ion-label
          >
          <ion-input formControlName="telefone" type="tel"></ion-input>
        </ion-item>
        <div
          *ngIf="form.get('telefone')?.hasError('pattern') && form.get('telefone')?.touched"
          class="erro"
        >
          <ion-text color="danger"
            >Telefone deve estar no formato 319xxxxyyyy</ion-text
          >
        </div>

        <ion-button
          (click)="fechaCardAtualMostraProximoValidandoCardAtual(0,1)"
          expand="block"
          color="danger"
          class="center-button"
          ><ion-text color="dark">Próximo</ion-text></ion-button
        >
        <ion-alert
          [isOpen]="isAlertAberto"
          message="Preencha corretamente os dados solicitados."
          (didDismiss)="setAlertAberto(false)"
          [buttons]="alertButtons"
        ></ion-alert>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="exibeCards[1]">
      <ion-card-header color="danger">
        <ion-text color="dark">
          <h3><b>Informações opcionais:</b></h3>
          <ion-label
            >Utilizaremos estas informações para fornecer relatórios sobre seu
            progresso. Caso nao queira fornecer os dados a baixo clique em
            próximo.</ion-label
          >
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label color="medium" position="floating"
            >Qual o seu peso atual? (Kg)</ion-label
          >
          <ion-input formControlName="pesoEmKg" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="medium" position="floating"
            >Qual sua altura atual? (m)</ion-label
          >
          <ion-input formControlName="alturaEmM" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="medium" position="floating"
            >Você já possui alguma graduação? (Nº do khan)</ion-label
          >
          <ion-input formControlName="graduacao" type="number"></ion-input>
        </ion-item>

        <ion-button
          (click)="fechaCardAtualMostraProximoValidandoCardAtual(1,2)"
          expand="block"
          color="danger"
          class="center-button"
          ><ion-text color="dark">Próximo</ion-text>
        </ion-button>
        <ion-alert
          [isOpen]="isAlertAberto"
          message="Preencha corretamente os dados solicitados."
          (didDismiss)="setAlertAberto(false)"
          [buttons]="alertButtons"
        ></ion-alert>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="exibeCards[2]">
      <ion-card-header color="danger">
        <ion-text color="dark">
          <h3><b>Informações finais</b></h3>
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label color="medium" position="floating"
            >Qual será o dia de vencimento da matrícula?</ion-label
          >
          <ion-input
            formControlName="diaVencimentoMatricula"
            type="number"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="form.get('diaVencimentoMatricula')?.hasError('required') && form.get('diaVencimentoMatricula')?.touched"
          class="erro"
        >
          <ion-text color="danger">Este campo é obrigatório.</ion-text>
        </div>
        <div
          *ngIf="(form.get('diaVencimentoMatricula')?.hasError('min') || form.get('diaVencimentoMatricula')?.hasError('max')) && form.get('diaVencimentoMatricula')?.touched"
          class="erro"
        >
          <ion-text color="danger">Insira um valor entre 1 e 31.</ion-text>
        </div>

        <ion-item>
          <ion-label color="medium" position="floating">Senha</ion-label>
          <ion-input formControlName="senha" type="password"></ion-input>
        </ion-item>
        <div
          *ngIf="form.get('senha')?.hasError('required') && form.get('senha')?.touched"
          class="erro"
        >
          <ion-text color="danger">Este campo é obrigatório.</ion-text>
        </div>
        <div
          *ngIf="form.get('senha')?.hasError('pattern') && form.get('senha')?.touched"
          class="erro"
        >
          <ion-text color="danger"
            >A senha deve possuir 8 caracteres, sendo pelo menos um
            numérico.</ion-text
          >
        </div>

        <ion-item>
          <ion-label color="medium" position="floating"
            >Repita a senha</ion-label
          >
          <ion-input
            formControlName="confirmaSenha"
            type="password"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="form.hasError('passwordMismatch') && form.get('confirmaSenha')?.touched"
          class="erro"
        >
          <ion-text color="danger">As senhas não coincidem.</ion-text>
        </div>

        <ion-item lines="none">
          <ion-checkbox
            checked="false"
            color="danger"
            slot="start"
            formControlName="termos"
          ></ion-checkbox>
          <ion-label class="checkbox-label"
            >Eu li e aceito os termos da academia</ion-label
          >
        </ion-item>

        <ion-button
          (click)="onSubmit()"
          expand="block"
          color="danger"
          class="center-button"
          ><ion-text color="dark">Próximo</ion-text>
        </ion-button>
        <ion-alert
          [isOpen]="isAlertAberto"
          message="Preencha corretamente os dados solicitados."
          (didDismiss)="setAlertAberto(false)"
          [buttons]="alertButtons"
        ></ion-alert>
      </ion-card-content>
    </ion-card>
  </form>

  <ion-card *ngIf="isAlunoCadastrado" class="success-card">
    <ion-card-header color="success">
      <ion-text color="dark">
        <h2><b>Cadastro realizado com sucesso!</b></h2>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-img
        class="logo-img ion-margin-top"
        src="../../../assets/images/Fernando-logo.jpg"
        alt="Logo da academia"
      ></ion-img>
      <br />
      <ion-text color="dark">
        <p class="ion-text-center ion-margin-top">
          Bem-vindo ao Maximus Team! <br /><br />
          Aguarde a validação de um professor para acessar o aplicativo.
        </p>
      </ion-text>
      <ion-button expand="block" color="success" (click)="voltarParaLogin()">
        Voltar para Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
